body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #909191;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

nav .gauche {
  display: flex;
  align-items: center;
}

nav .droite {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

nav .onglets a, nav .droite a.compte {
  display: block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav .onglets a:hover, nav .droite a.compte:hover {
  color: #ff0000;
}

/* Les films et séries */
.embed {
  position: relative;
}

.video-conteneur {
  display: flex;
  justify-content: center;
  align-items: center;
}


.video-conteneur video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.seriefonctionne,
.série {
  background-color: #191a1a;
  padding: 25px;
  color: #fff;
}

.seriefonctionne h2,
.série h2 {
  color: #fff;
}

.liste {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

.liste a {
  flex: 0 0 20%; /* Répartit les images sur 5 colonnes (20% de largeur chacune) */
  padding: 5px;
  transition: transform 0.25s;
}

.liste a:hover {
  transform: scale(1.05);
}

.liste a img {
  width: 100%; /* Ajuste la largeur des images à 100% */
  height: 350px; /* Hauteur fixe pour toutes les images */
  object-fit: cover; /* Redimensionne et recadre les images pour remplir le conteneur */
}

/* Pied de page */
footer {
  background-color: #000;
  padding: 25px 100px;
  color: #909191;
}

footer .colonnes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}