body {
  background-color: #242424;
}

.btn-custom {
  background-color: red;
  color: white;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: darkred;
  color: white;
}

.custom-modal-content {
  background-color: #242424;
}

.custom-modal-content h5.modal-title,
.custom-modal-content label {
  color: white;
}

hr {
  border-color: white;
}

.profile-image-container {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.profile-image-container:hover .profile-image-overlay {
  opacity: 1;
}

.profile-image-overlay .btn {
  color: white;
  font-size: 18px;
}

.avatar-item {
  margin: 10px;
}

.avatar-input {
  display: none;
}

.avatar-label {
  display: block;
  position: relative;
  cursor: pointer;
}

.avatar-image {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.avatar-image:hover {
  border-color: red;
}

.avatar-input:checked + .avatar-label .avatar-image {
  border-color: red;
}

.avatar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.avatar-item {
  margin: 10px 5px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-left: 50px;
}

.welcome-message-container {
  margin-left: 50px;
  text-align: center;
}

@media (max-width: 576px) {
  .container {
      flex-direction: column;
      padding-left: 0;
      padding-bottom: 20px;
  }

  .welcome-message-container {
      margin-left: 0;
      margin-bottom: 20px;
  }

  .profile-image-container {
      width: 150px;
      height: 150px;
  }

  .profile-image-overlay .btn {
      font-size: 16px;
  }
}

.d-flex.justify-content-start > *:not(:last-child) {
  margin-right: 5px;
}

/* CSS pour les cartes */
.card {
  border: none;
  background-color: #242424;
  color: white;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #d1d1d1;
}

.card-footer {
  border-top: none;
  background-color: #242424;
}

/* CSS pour la modal "abonnement_modal" */
#abonnement_modal .modal-dialog {
  max-width: 800px;
}

/* Effet métallisé pour la partie "card-body" */
.card-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.07) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.07) 50%, rgba(255, 255, 255, 0.07) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

.card-body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

.card-body {
  position: relative;
  z-index: 1;
}
.custom-modal-content {
  color: white;
}